joblib>=0.11
# Cython>=0.29,!=0.29.18,!=0.29.31
numpy==1.26.4 --only-binary=:all:
pandas>=0.19
scikit-learn>=0.22
scipy>=1.3.2
statsmodels>=0.12
urllib3
setuptools>=38.6.0,!=50.0.0
packaging>=17.1

# numpy==1.26.4
# cython==3.0.10
# pandas==2.2.1

plotly==5.18.0
streamlit==1.32.0

matplotlib==3.8.3
seaborn==0.13.2
pmdarima>=1.8.5